#boton-facebook{

	height: 50px;
	width: 50px;

}
core-toolbar {
  background-color: #03A9F4;
}
#eventos {
  margin: 20px;
  margin-bottom: 5px;
  margin-top: 1px;
  padding: 20px 20px;
  border-radius: 0px 10px 10px 0px;
  background-color: rgba(215, 244, 247, 0.72);
  color:black;
  border: 2px solid white;
  box-shadow: 0px 0px 10px black;
}

#navheader {
  background-color: #3a5795;
}

body {
      font-family: sans-serif;
    }
#logo{
	height: 40px;
    width: 40px;
	margin-left: 30px
}
#navicon{
}
#cartel{
margin-right: 100px;
margin-left: 100px;
color:white;
}

#eventos:hover{
    transform:scale(1.1,1.1);
    -webkit-transform:scale(1.05,1.05);
}
 core-header-panel {
      float: left;
      width: 500px;
      height: 400px;
      margin: 5px;
	  border: 2px solid white;
 	  box-shadow: 0px 0px 15px black;
    }

    core-header-panel[mode=cover]::shadow #mainContainer {
      left: 70px;
    }

    .core-header {
      height: 60px;
      line-height: 60px;
      font-size: 18px;
      padding: 0 10px;
      background-color: #4F7DC9;
      color: #FFF;
      transition: height 0.2s;
    }

#imagenes{
	position: relative;
	margin: 10px;
	border: 2px solid white;
	box-shadow: 0px 0px 15px black;
	
}
#imagenes[src=""] {
    display: none;
}

    .content {
	position: absolute;
     background: linear-gradient(rgba(145, 223, 247, 0.77), #4db8db);

    }
